
.card {
  display: inline-flex;
  padding: 10px;
  
}


.movie {

  
  background-color: whitesmoke;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 10px;
  
}

.title {
  text-align: center;
  color: rgba(252, 84, 23, 0.781);
}
 .poster {
   max-width: 250px;
   width: 100%;
 }
